@import "../abstracts/index";

:root {
  --btn-pos-x: 0;
  --btn-pos-y: 0;
}

.btn {
  background: rgb(var(--app-theme-color-red), var(--app-theme-color-green), var(--app-theme-color-blue));
  --r: calc(var(--app-theme-color-red) * 0.299);
  --g: calc(var(--app-theme-color-green) * 0.587);
  --b: calc(var(--app-theme-color-blue) * 0.114);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --perceived-lightness: calc(var(--sum) / 255);
  --border-alpha: calc((var(--perceived-lightness) - var(--app-theme-color-border-threshold)) * 100);
  border-width: .2em;
  border-style: solid;
  border-color: rgba(calc(var(--app-theme-color-red) - 50), calc(var(--app-theme-color-green) - 50), calc(var(--app-theme-color-blue) - 50), var(--app-theme-color-border-alpha));
  color: hsl(0, 0%, calc((var(--perceived-lightness) - var(--app-theme-color-threshold)) * -10000000%));
}

.btn--w3c {
  --r: calc(var(--app-theme-color-red) * 0.299);
  --g: calc(var(--app-theme-color-green) * 0.587);
  --b: calc(var(--app-theme-color-blue) * 0.114);
}

.btn-luna {
  --r: calc(var(--app-theme-color-red) * 0.2126);
  --g: calc(var(--app-theme-color-green) * 0.7152);
  --b: calc(var(--app-theme-color-blue) * 0.0722);
}


.btn {
  background: #5084AF; // var(--app-theme-color);
  color: $white;
  font-size: rem-calc(17);
  line-height: 1.3;
  letter-spacing: em-calc(0.2);
  padding: rem-calc(12) rem-calc(18);
  width: 100%;
  cursor: pointer;
  outline: rem-calc(1) transparent;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: initial;
  white-space: nowrap;
  height: rem-calc(45);
  appearance: none;
  outline: none;
  z-index: 1;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
  }

  &:focus {
    background: lighten(#5084AF, 15%);
  }

  &:hover {
    background: lighten(#5084AF, 5%);
  }
}

.btn-text {
  position: relative;
  z-index: 2;
}

.btn-link {
  color: #243aa2;
  font-weight: 500;
  cursor: pointer;
}


.btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: rem-calc(8);
}

