@import "functions";
// Typography
$app-font-family: 'Hind', sans-serif;

// Default Colors
$black: #000;
$white: #ffffff;

// App Colors
$app-white: #ffffff;
$app-black: #121212;
$app-silver: #e3e9ed;
$app-green: #20C08D;
$app-orange: #f5b498;
$app-yellow: #f1eb7b;


$dark-color-1: #121212;
$dark-color-2: #181818;
$dark-color-3: #404040;
$dark-color-4: #282828;
$dark-color-5: #b3b3b3;

$dark-color-11: #15202b;
$dark-color-12: #192734;
$dark-color-13: #22303c;
$dark-color-14: #ffffff;
$dark-color-15: #8899a6;

// App Color Settings
$app-background: $app-white;
$app-font-color: $app-black;
